<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- You can add fonts to your website to make it more attractive. Use Google fonts by referencinh the CSS on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="sty;esheet">
    <!-- This is the embedded stylesheet. It contains css that alters the default
     styles in the navbae-inverse class, and also adds classes such as shrikhand and standardimage -->
    <link rel ="stylesheet" href="css/style.css">

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Application Name</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Link Two</a></li>
            <li><a>Link One</a></li>
            <li><a>Link Three</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="col-md-12">
        <h1 class="shrikhand"> Crabby Page</h1>
        <div class="col-md-12"><h3 class="shrikhand"> Shrikhand h2</h3></div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row"> <!--USe this class to force items on the same row. Rememeber it's 12 columns grid!-->
        <div class="col-md-12">
            <!-- when designing your page, always let your components 'Breath'. Ass as much space as possible
             around then without leaving gaping holes. Lines are nice to define sections somtimes, but don't overdo it without limits-->
            <img class="standardimage img-thumbnail" src="https://static.pexels.com/photos/39803/pexels-photo-39803.jpeg"
                 align="left" alt="Apple"/>

         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Bibendum at varius vel pharetra vel turpis.
             Amet consectetur adipiscing elit duis tristique sollicitudin. Feugiat scelerisque varius morbi enim nunc.
             Diam vel quam elementum pulvinar etiam non quam. Pharetra et ultrices neque ornare. Sed id semper risus in hendrerit gravida rutrum quisque.
             Magna ac placerat vestibulum lectus mauris ultrices eros in. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
             Convallis convallis tellus id interdum velit laoreet id donec. Egestas purus viverra accumsan in nisl nisi.
             Et netus et malesuada fames ac turpis. Nisi vitae suscipit tellus mauris a diam maecenas. Feugiat nisl pretium fusce id velit ut tortor pretium.
             Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
             Eros in cursus turpis massa tincidunt..Use <a href="https://loremipsumgenerator.com/">This is Lorem Ipsum text generator</a>.</p>


         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Bibendum at varius vel pharetra vel turpis.
             Amet consectetur adipiscing elit duis tristique sollicitudin. Feugiat scelerisque varius morbi enim nunc.
             Diam vel quam elementum pulvinar etiam non quam. Pharetra et ultrices neque ornare. Sed id semper risus in hendrerit gravida rutrum quisque.
             Magna ac placerat vestibulum lectus mauris ultrices eros in. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
             Convallis convallis tellus id interdum velit laoreet id donec. Egestas purus viverra accumsan in nisl nisi.
             Et netus et malesuada fames ac turpis. Nisi vitae suscipit tellus mauris a diam maecenas. Feugiat nisl pretium fusce id velit ut tortor pretium.
             Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
             Eros in cursus turpis massa tincidunt.</p>
        </div>

        <div class="=col-md-6"> <!-- I susually use col-md as it fits well on most devices. Use what is appropriate for the device you are working on!
         See more details here: https://getbootstrap.com/docs/3.3/css-->

            <blockquote> This is a quotation about Lorem ipsum...<cite>Wikipedia</cite></blockquote>

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Bibendum at varius vel pharetra vel turpis.
                Amet consectetur adipiscing elit duis tristique sollicitudin. Feugiat scelerisque varius morbi enim nunc.
                Diam vel quam elementum pulvinar etiam non quam. Pharetra et ultrices neque ornare. Sed id semper risus in hendrerit gravida rutrum quisque.
                Magna ac placerat vestibulum lectus mauris ultrices eros in. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
                Convallis convallis tellus id interdum velit laoreet id donec. Egestas purus viverra accumsan in nisl nisi.
                Et netus et malesuada fames ac turpis. Nisi vitae suscipit tellus mauris a diam maecenas. Feugiat nisl pretium fusce id velit ut tortor pretium.
                Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
                Eros in cursus turpis massa tincidunt..Use <a href="https://loremipsumgenerator.com/">This is Lorem Ipsum text generator</a>.</p>

            <p> This is a different Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Bibendum at varius vel pharetra vel turpis.
                Amet consectetur adipiscing elit duis tristique sollicitudin. Feugiat scelerisque varius morbi enim nunc.
                Diam vel quam elementum pulvinar etiam non quam. Pharetra et ultrices neque ornare. Sed id semper risus in hendrerit gravida rutrum quisque.
                Magna ac placerat vestibulum lectus mauris ultrices eros in. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
                Convallis convallis tellus id interdum velit laoreet id donec. Egestas purus viverra accumsan in nisl nisi.
                Et netus et malesuada fames ac turpis. Nisi vitae suscipit tellus mauris a diam maecenas. Feugiat nisl pretium fusce id velit ut tortor pretium.
                Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
                Eros in cursus turpis massa tincidunt.</p>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>