<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!--USe the stylesheet below to customize bootstrap styles -->

    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/stylesheet.css">

</head>
<body>
<div class="container">

<!-- A Simple navigation bar with Twitter Bootstrap -->
<!-- Start with the navigation bar. It should be within a nav element, inverse, or transparent-->
<nav class="navbar navbar-inverse" style="background-color: #ac2925;">
<!-- Make sure the container is available so that the content can be appropriately laid out -->

<div class="container-fluid">
    <!-- If you want a prominent place to show the name of the application or website, use a brand.
    Remember that the text (and navbar) can be styled to suit the 'client'-->

    <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- Include an unordered list for the navigation -->
    <ul class="nav navbar-nav">
        <li><a href= "crabbyPage.html">Crabcake</a></li>
        <li><a href= "eggSauce.html"> Egg Sauce </a></li>
        <li><a href= "GolabJamun.html">Golab Jamun</a></li>
        <li><a href= "Injera.html">Injera</a></li>
        <li><a href= "Makroudh.html"> Makroudh</a></li>
        <li><a href= "Wings.html">Wings</a></li>
        <li><a href= "mainMenu.html">Menu</a></li>

    </ul>
    </div>
</div>
</nav>

    <div class="row">
        <div class="col-md-12">

            <img class="well col-md-12" src="http://www.recipebook.io/img/footer/screen.png" alt="Recipe image" width=100% height=400px>

    <div class="row">
    <div class="col-md-12">

    <a href="Injera.html"><img class="col-md-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKG_ttnQ-6F1hIZJaX3XTE-dw_c4SwlEvYu14WNypCOU8D9iMcxQ"
                              class="img-thumbnail" alt="Injera image" width="200" height="250"></a>
        <p class="col-md-2"></p>
        <a href="crabbyPage.html"><img class="col-md-5" src="crabcake.jpeg" class="img-thumbnail" alt="crabcake image" width="200" height="250"></a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="col-md-7" href="Injera.html"> Injera Recipe</a>
            <a class="col-md-2" href="crabbyPage.html"> Crabcake Recipe</a>
        </div>
    </div>

<br/>
    <div class="row">
        <div class="col-md-12">
            <a href="eggSauce.html"><img class="col-md-5" src="https://allnigerianfoods.com/wp-content/uploads/frying-egg-sauce.jpg"
                                       class="img-thumbnail" alt="Egg Sauce image" width="200" height="250"></a>
            <p class="col-md-2"></p>
            <a href="GolabJamun.html"><img class="col-md-5" src="https://cdn.awesomecuisine.com/wp-content/uploads/2014/08/bread_gulab_jamun.jpg"
                                           class="img-thumbnail" alt="Golab Jamun Image" width="200" height="250"></a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="col-md-7" href="eggSauce.html">Nigerian Egg Sauce Recipe</a>
            <a class="col-md-2" href="GolabJamun.html"> Indian Golab Jamun Recipe</a>
        </div>
    </div>
            <br/>
     <div class="row">
                <div class="col-md-12">
                    <a href="Makroudh.html"><img class="col-md-5" src="http://tunisie.co/uploads/images/content/makroud-110716-8.jpg"
                                                 class="img-thumbnail" alt="Makroudh image" width="200" height="250"></a>
                    <p class="col-md-2"></p>
                    <a href="Wings.html"><img class="col-md-5" src="sichuan-chicken-wings.jpg"
                                                   class="img-thumbnail" alt="sichuan-chicken-wings Image" width="200" height="250"></a>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="col-md-7" href="Makroudh.html"> Algerian/Tunisian Makroudh Recipe</a>
                    <a class="col-md-2" href="Wings.html"> Chinese Sichuan Chiken Wings Recipe</a>
                </div>
     </div>

            <br/><br/>


</div>
</div>
    <br/>
<!-- Don't forget to close all tags-->

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <footer>
        <p>For more Recipes contact: A. Z. at <a href="mailto:someone@example.com">email@example.com</a>.</p>
    </footer>
</div>
</body>
</html>