<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <!--Use the stylesheet below to customize bootstrap styles -->
    <link rel="stylesheet" href="CSS/menuStyle.css">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse" style="background-color: #ac2925;">
        <!-- Make sure the container is available so that the content can be appropriately laid out -->

        <div class="container-fluid">
            <!-- If you want a prominent place to show the name of the application or website, use a brand.
            Remember that the text (and navbar) can be styled to suit the 'client'-->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="HomePage.html"> Home Page</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Include an unordered list for the navigation -->
                <ul class="nav navbar-nav">
                    <li><a href= "crabbyPage.html">Crabcake</a></li>
                    <li><a href= "eggSauce.html"> Egg Sauce </a></li>
                    <li><a href= "GolabJamun.html">Golab Jamun</a></li>
                    <li><a href= "Injera.html">Injera</a></li>
                    <li><a href= "Makroudh.html"> Makroudh</a></li>
                    <li><a href= "Wings.html">Wings</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Menu</h1>
    <div class="row">
        <div class="well col-md-12">
            <h3 div class="col-md-4"></h3>
            <h3 div class="col-md-5">Description</h3>
            <h3>Price</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href ="crabbyPage.html"><img class="col-md-2" src="crabcake.jpeg" alt ="crabcake image"></a></img>
            <h3 class="col-md-7"><a href="crabbyPage.html"><p>Crab Cake</p></a></h3>
            <h3 class="col-md-2">$3.50</h3>

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <a href ="eggSauce.html"><img class="col-md-2" src="https://allnigerianfoods.com/wp-content/uploads/frying-egg-sauce.jpg"
                                          alt ="Egg Sauce image"></a></img>
            <h3 class="col-md-7"><a href="eggSauce.html"><p>Egg Sauce</p></a></h3>
            <h3 class="col-md-2">$3.50</h3>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-12">
            <a href ="GolabJamun.html"><img class="col-md-2" src="https://cdn.awesomecuisine.com/wp-content/uploads/2014/08/bread_gulab_jamun.jpg"
                                            alt ="Gulab Jamun image"></a></img>
            <h3 class="col-md-7"><a href="GolabJamun.html"><p>Golab Jamun</p></a></h3>
            <h3 class="col-md-2">$3.50</h3>

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <a href ="Injera.html"><img class="col-md-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKG_ttnQ-6F1hIZJaX3XTE-dw_c4SwlEvYu14WNypCOU8D9iMcxQ"
                                        alt ="Injera image"></a></img>
            <h3 class="col-md-7"><a href="Injera.html"><p>Injera</p></a></h3>
            <h3 class="col-md-2">$3.50</h3>

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <a href ="Makroudh.html"><img class="col-md-2" src="http://tunisie.co/uploads/images/content/makroud-110716-8.jpg"
                                        alt ="Makroudh image"></a></img>
            <h3 class="col-md-7"><a href="Makroudh.html"><p>Makroudh</p></a></h3>
            <h3 class="col-md-2">$3.50</h3>

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <a href ="Wings.html"><img class="col-md-2" src="sichuan-chicken-wings.jpg"
                                          alt ="Sichuan Wings image"></a></img>
            <h3 class="col-md-7"><a href="Wings.html"><p>Sishuan Chiken Wings</p></a></h3>
            <h3 class="col-md-2">$6.50</h3>
        </div>
    </div>
    <br>

</div>

<footer>
    <p>For more Recipes contact: A. Z. at <a href="mailto:someone@example.com">email@example.com</a>.</p>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


</body>
</html>