<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makroudh Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!--<link rel="stylesheet" href="CSS/stylesheet.css">-->
    <link rel="stylesheet" href="CSS/Style1.css">
    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse" style="background-color: #ac2925;">
        <!-- Make sure the container is available so that the content can be appropriately laid out -->

        <div class="container-fluid">
            <!-- If you want a prominent place to show the name of the application or website, use a brand.
            Remember that the text (and navbar) can be styled to suit the 'client'-->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="HomePage.html"> Home Page</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Include an unordered list for the navigation -->
                <ul class="nav navbar-nav">
                    <li><a href= "crabbyPage.html">Crabcake</a></li>
                    <li><a href= "eggSauce.html"> Egg Sauce </a></li>
                    <li><a href= "GolabJamun.html">Golab Jamun</a></li>
                    <li><a href= "Injera.html">Injera</a></li>
                    <li><a href= "Wings.html">Wings</a></li>
                    <li><a href= "mainMenu.html">Menu</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="text-center well col-md-12">Makroudh</h1>

    <div class="  col-sm-12">
        <div class="col-sm-4"><h3> Algeria/Tunisia</h3>
        </div>

    <div class="col -md-8"><img  class="img-responsive " src="https://www.crossed-flag-pins.com/Friendship-Pins/Tunisia/Flag-Pins-Tunisia-Algeria.jpg" style="width:300px;height 200 alt="Algeria and Tunisia flag">
    </div>
    </div>

    <br>

    <div class="col-md-6">
        <div><h2>Ingredients</h2>

            <ul>

                <li> 500g Sugar</li>
                <li> Lemon juice (1/2 lemon)</li>
                <li> 500g Semolina </li>
                <li> 250g Flour </li>
                <li> 250g Butter</li>
                <li> 125g salt</li>
                <li> 100ml Olive oil (and oil for deep frying</li>
                <li> 250g date paste </li>

            </ul>

        </div>
    </div>
    <div class="text-center well col-md-6" >
        <img src="http://tunisie.co/uploads/images/content/makroud-110716-8.jpg" style="width:500px;height:280px"; alt="Makroudh image"></div>


    <div class = "row">
        <h2>Directions:</h2>
        <div class = " col-md-12">

            <div class="col-md-6"> <p>Put the sugar in a pan with the lemon juice and 250 ml of water.</p>
                <p>Bring to the boil and simmer over a low heat for around 10 minutes until thick and syrupy. Remove from the heat.</p>
                <p>In a bowl, mix together the semolina and flour.</p>
                <p>Melt the butter and add to the dry ingredients, together with the oil.</p>
                <p>Mix together until homogeneous. Add a little more oil if necessary.</p>
                <p>Stir in boiling water, a tablespoonful at a time, until you have a smooth dough.</p>

            </div>

            <div class="col-md-6">
                <p>Shape the dough into strands 3-4 cm thick and make a depression along the centre.</p>
                <p>Spoon the date paste into the depression and wrap the dough around it so that it encloses the paste.</p>
                <p>Flatten slightly and score in a diamond pattern.</p>
                <p>Cut into approx. 4 cm lengths and fry in the hot oil until crispy.</p>
                <p>Drain briefly on kitchen paper and transfer to the sugar syrup.</p>
                <p>Take out of the syrup to serve, and arrange in small cake cases, for example..</p>
            </div>
        </div>
        <br/><br/>

        <div class="well col-md-12" ><h4>Serves 8 ------------------------------------------------------------------------------Enjoy with coffee !!!</h4></div>
    </div>
</div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>


</html>